
.planos__container{

    display: flex;

    justify-content: center;

    align-items: center;

    flex-wrap: wrap;

    padding: 40px 0;


}

.planos__row{

    display: flex;

    justify-content: space-around;

    align-items: center;

    flex-wrap: wrap;

}

.planos__title{

    width: 100%;

    text-align: center;

    font-size: 2.2rem;

    color: rgba(10, 115, 252, 0.87);

}

.planos__container .card{

    position: relative;

    width: 350px;

    height: 440px;

    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), 
    inset -5px -5px  5px rgba(255, 255, 255, 0.5), 
    5px 5px 5px rgba(0, 0, 0, 0.05), 
    -5px 5px rgba(255, 255, 255, 0.5) ;

    border-radius: 5px;

    margin: 30px ;

}

.planos__container .card .box{

    position: absolute;

    top: 20px;

    left: 20px;

    right: 20px;

    bottom: 20px;

    background-color: #ebf5fc;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

    display: flex;

    justify-content: center;

    align-items: center;

    transition: 0.5s;

}

.planos__container .card:hover .box{

    transform: translateY(-50px);

    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);

    background: linear-gradient(45deg, #b95ce4, #4f29cd);

}

.planos__container .card .box .content{

    padding: 20px;

    text-align: center;

}

.planos__container .card .box .content h1{

    position: absolute;

    top: -10px;

    right: 30px;

    font-size: 8em;

    color: rgba(0, 0, 0, 0.02);

    transition: 0.5s;

    pointer-events: none;

}

.planos__container .card .box .content h1{

    color: rgba(0, 0, 0, 0.05);

}

.planos__container .card .box .content h3{

    font-size: 1.8em;

    color: #777;

    z-index: 1;

    transition: 0.5s;

}

.planos__container .card .box .content p{

    font-size: 1rem;

    font-weight: 300;

    color: #777;

    z-index: 1;

    transition: 0.5s;

}

.planos__container .card:hover .box .content h3, .planos__container .card:hover .box .content p{

    color: #fff;

}


.planos__btn{

    display: flex;

    justify-content: center;

    align-items: center;

    flex-direction: column;

}

.planos__btn a{

    position: relative;

    width: 300px;

    height: 75px;

    margin: 10px 0;

    font-size: 24px;

    color: #fff;

    display: inline-flex;

    justify-content: center;

    align-items: center;

    font-weight: bolder;

    transition: 0.5s;

    text-decoration: none;

}


.planos__btn a::before{

    content: "";

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: url(../../IMG/btn-bg1.png);

    background-size: cover;

    transform-origin: left;

    transition: 0.5s;

}

.planos__container .card:hover .planos__btn a::before{

    background: url(../../IMG/btn-bg2.png);

    background-size: cover;

}



.planos__btn a span{

    position: relative;

    z-index: 1;

}



