:root{

    --bg: #fff;
    --bg-black:#222;

}



body{

    overflow-x: hidden;

}


.topo{

    background-color: #fff;

    position: fixed;

    bottom: 20px;

    right: -500px;

    height: 50px;

    width: 50px;

    border-radius: 50%;

    display: flex;

    justify-content: center;

    align-items: center;

    transition: 0.5s all;

    

    color: #9051ff;

    font-size: 1.8rem;
    
    cursor: pointer;

}
.topo img{

    width: 50px;

}

.show-button .topo{

    right: 20px;

    transition: 0.5s all;

}

#div-fixa{

    position: fixed;

    bottom: 20px;

    margin: 0 20px;

    background-color: rgb(89, 245, 122);

    width: 230px;

    z-index: 100;

    border-radius: 50px;

    cursor: pointer;

    transition: 0.5s all;

}

#div-fixa.shrink{

    width: 50px;

    transition: 0.5s all;

    overflow: hidden;

}

#div-fixa img{

    width: 50px;

    height: 50px;
}

#div-fixa a {

    text-decoration: none;

}

#div-fixa a .flex-itens{

    display: flex;

    align-items: center;

}

#div-fixa a .flex-itens span{

    display: block;

    font-weight: bold;

    color: var(--bg-black);

    margin-left: 5px;

    font-size: 18px;

    min-width: 170px;

    opacity: 0;

}

#div-fixa a .flex-itens span.aparecer{

    transition: 0.5s;

    opacity: 1;

}


.flutuar{

    animation: flutuar 0.5s alternate infinite ease-in-out;

}

@keyframes flutuar{

    from{

        transform: translate3d(0, 0, 0);

        filter: brightness(100%);

    }

    to{

        transform: translate3d(0, -15px, 0);

        filter: brightness(120%);

    }

}