#about{

    margin-top: 8rem;

    position: relative;

    min-height: 100vh;


}

#about::after{

    content: "";

    width: 25%;    

    height: 60%;

    background-color: rgb(245, 116, 137);

    position: absolute;

    top: 0;

    left: 0;

    z-index: -1;

}

.about__conteiner{

    display: flex;

    justify-content: center;

    align-items: center;

    box-sizing: border-box;

}

.row{

    display: flex;

    justify-content: space-around;

    align-items: center;
    
    

}

.about__barbeiro{

    width: 50%;

}

.about__barbeiro img{

    width: 85%;

}

.about__conteudo{

    display: flex;

    flex-direction: column;

    width: 50%;

}

.about__conteudo .about__h6{

    color: rgb(245, 116, 137);

    font-size: 1.8rem;

}

.about__conteudo .about__h1{

    margin-top: 16px;

    margin-bottom: 24px;

    color: rgba(10, 115, 252, 0.87);

    font-size: 2.5rem;

}

.about__conteudo .about__text{

    font-size: 1.3rem;
    
}


.social{

    position: relative;

    display: flex;

    gap: 50px;
    
    padding-top: 5rem;

}

.social .social__item{

    position: relative;

    list-style: none;

    width: 80px;

    height: 80px;

    display: flex;

    justify-content: center;

    align-items: center;

    cursor: pointer;

    transition: 0.5s;

}

.social .social__item:hover{

    z-index: 10000;

    transform: scale(0.75);

}

.social .social__item::before{

    content: "";

    position: absolute;

    inset: 30px;

    box-shadow: 0 0 0 10px var(--clr), 0 0 0 20px var(--bg), 0 0 0 22px var(--clr);

    transition: 0.5s;

}

.social .social__item:hover::before{

    inset: 0;

}

.social .social__item::after{

    content: "";

    position: absolute;

    inset: 0;

    background-color: var(--bg);

    transform: rotate(45deg);

}


.social .social__item .social__link{

    position: relative;

    text-decoration: none;

    color: var(--clr);

    z-index: 10;

    font-size: 2em;

    transition: 0.5s;

}

.social .social__item:hover .social__link{

    font-size: 3em;

    filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 30px var(--clr)) drop-shadow(0 0 40px var(--clr));

}

