@media(max-width: 950px){

    #about::after{

        height: 50%;

    }

    .about__barbeiro img{

        width: 90%;
    
    }

}

@media(max-width: 730px){

    .about__barbeiro{

        display: none;
    
    }

    .about__conteudo{

        width: 80%;

        margin-top: 1rem;

    }

    #about::after{

        background-color:#9051ff;

    }

    #about::before{

        content: "";

        width: 75%;    

        height: 70%;

        background-color: var(--bg-black);

        position: absolute;

        top: 0;

        right: 0;

        z-index: -1;

    }

    #about::after{

        content: "";
    
        width: 25%;    
    
        height: 70%;
    
        background-color: rgb(245, 116, 137);
    
        position: absolute;
    
        top: 0;
    
        left: 0;
    
        z-index: -1;
    
    }

    .about__conteudo .about__text{

        color: white;

    }

    .social{

        margin-left: 8rem;


    }

    .social .social__item{
    
        width: 60px;
    
        height: 60px;

        
    
    }

    .social .social__item::after{


        background-color: var(--bg-black);
    
    
    }

    .social .social__item::before{

        content: "";
    
        position: absolute;
    
        inset: 30px;
    
        box-shadow: 0 0 0 10px var(--clr), 0 0 0 20px var(--bg-black), 0 0 0 22px var(--clr);
    
        transition: 0.5s;
    
    }

}

@media(min-width: 800px){

    #about::after{

        content: "";
    
        width: 25%;    
    
        height: 70%;
    
        background-color: rgb(245, 116, 137);
    
        position: absolute;
    
        top: 0;
    
        left: 0;
    
        z-index: -1;
    
    }

}