@media (max-width: 1065px){

    #navbar{

        position: fixed;

        bottom: -100%;

        right: 0;

        width: 100%;

        transition: 0.5s;

        display: flex;

        justify-content: center;

        align-items: center;
        
    }

    #navbar.active{

        height: calc(100vh - 70px);

        bottom: 0;

        width: 100%;

    }

    #navbar ul{

        flex-direction: column;

        justify-content: center;

        align-items: center;

    }

}